jQuery(function($) {
    App.Views.MiniApps.<%=@app_class%>New = MiniAppNew.extend({
        className: "validationEngineContainer <%=app_name%>-input-wrap",
        template: "mini_apps/<%=app_name%>/new",
        events: {
        },
        afterRender: function() {},
        validate: function() {
            return true;
        },
        getProperties: function() {
          return{

          } 
            //return json data
        }

    });
})