module <%=@app_path.camelize%>
  class <%=@app_class%> < MiniApp

    def build(story, user)
     
    end

    def find_instance_by_id(id)
      # MiniappStudy::QuestionModel.find_by_id id
    end
    
  end
end
