<%=app_path%>
=============
这是通过lathe工具生成的插件，可以按照以下步骤进行安装

安装步骤
---------
以下命令都在主工程（ewhine_NB）中执行

#### 1. 在Gemfile中添加 ####

gem '<%=app_path%>',:path=>"这地方写mini_app工程的路径"

#### 2. 安装插件 ####
rails g <%=app_path%>:install


#### 3. 执行脚本 ####
rake db:migrate

#### 4. 启动服务 ####
rails s 

#### 安装成功####

