.icon-<%=app_name%>{
	background: asset-url('<%=app_path%>/<%=app_name%>.png') no-repeat;
	background-position: 0px 0px;
}

a:hover,.active{
	.icon-<%=app_name%>{
		background: asset-url('<%=app_path%>/<%=app_name%>_active.png') no-repeat;
		background-position: 0px 0px;
	}
} 
